.link {
  text-decoration: none;
  border-radius: 10px;
}
.btnWrapper {
  @media screen and (max-width: 768px) {
    margin: 0 auto;
    width: fit-content;
  }
}
.headline {
  color: #212353;
  font-family: "Ubuntu", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 88px;
  margin: 0 0 10px;
  @media screen and (max-width: 1024px) {
    margin-bottom: 26px;
  }
  @media screen and (max-width: 768px) {
    text-align: center;
    font-size: 45px;
    line-height: 49px;
    margin-bottom: 45px;
  }
}
.text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 24px;
  max-width: 390px;
  text-align: justify;
  color: #4b5d68;
  line-height: 29px;
  @media screen and (max-width: 1024px) {
    margin-bottom: 50px;
  }
  @media screen and (max-width: 768px) {
    text-align: center;
    margin: 0 auto 27px;
  }
}
.textWrapper {
  padding-top: 65px;
  max-width: 420px;
  @media screen and (max-width: 1024px) {
    max-width: 100%;
  }
  @media screen and (max-width: 768px) {
    margin: 0 auto;
  }
}
.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
  @media screen and (max-width: 1024px) {
    max-width: 800px;
  }
}
.introduction {
  padding: 158px 16px 20px;
  margin-bottom: 135px;
  @media screen and (max-width: 1024px) {
    padding: 158px 16px 20px;
    margin-bottom: 86px;
  }
  @media screen and (max-width: 768px) {
    padding: 58px 16px 20px;
    margin-bottom: 152px;
  }
}
.image {
  width: 580px;
  // height: 600px;
  @media screen and (max-width: 1024px) {
    position: absolute;
    width: 290px;
    bottom: -50px;
    right: 0;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}
