@import "../../styles/App.scss";

.sectionTitleDiv {
    max-width: 584px;
    width: 100%;
// <<<<<<< component/footer
//     margin: 0 auto 25px;
// =======
    margin: 0 auto 20px;
// >>>>>>> develop
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 768px) {
// <<<<<<< component/footer
//         margin-bottom: 25px;
//         width: 80%;
//     }
//     @media screen and (min-width: 1024px) {
//         margin-bottom: 25px;
// =======
        margin-bottom: 80px;
        width: 80%;
    }
    @media screen and (min-width: 1024px) {
        margin-bottom: 100px;
// >>>>>>> develop
        width: 100%;
    }
}

.sectionTitleTitle {
    // position: absolute;
    // width: 405px;
    // height: 104px;
    // left: 607.29px;
    // top: 240px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    /* or 52px */

    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    @media screen and (min-width: 400px) {
        padding: 0 26px;
    }
}

.sectionTitleText {
    // position: absolute;
    // width: 584px;
    // height: 58px;
    // left: 518.29px;
    // top: 368px;

    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */

    text-align: center;

    /* 1 */

    color: #4b5d68;
}
