.button {
  border: none;
  font-family: Avenir;
  font-size: 18px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
}
