.card {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 320px;
    min-height: 300px;
    & svg {
        width: 320px;
        height: 300px;
    }
    @media screen and (min-width: 768px) {
        max-width: 360px;
        min-height: 300px;
        & svg {
            width: 360px;
            height: 300px;
        }
    }
    @media screen and (min-width: 1024px) {
        max-width: 440px;
        max-height: 360px;
        & svg {
            width: 440px;
            height: 360px;
        }
    }
}

.card_smallRectangular {
    margin: 0 auto;
    position: relative;
    max-width: 340px;
    max-height: 270px;
    width: 100%;
    height: 100%;
}

.content {
    width: 521px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content_smallRectangular {
    width: 200px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    position: absolute;
    top: 25%;
    right: 25%;
    margin-left: 10px;
    width: 190px;
    text-align: left;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(33, 35, 83, 1);

}

.title_smallRectangular {
    margin-left: 20px;
    text-align: left;
    font-weight: 400;
    font-size: 19px;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(33, 35, 83, 1);
}

.wrapper {
    margin-top: 20px;
    width: 521px;
    position: absolute;
    top: -70%;
    left: -19%;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
        width: 180px;
        margin: 134px 0 0 31px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.wrapper_smallRectangular {
    margin-top: 40px;
    width: 223px;
    position: absolute;
    top: -80%;
    left: -44%;
    display: flex;
    justify-content: space-between;
}

.image {
    @media screen and (max-width: 1024px) {
        display: none;
    }
}

.image_smallRectangular {
    width: 100px;
    height: 150px;
}

.description {
    margin-top: 80px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
    @media screen and (max-width: 1024px) {
        font-size: 14px;
    }
}

.description_smallRectangular {
    margin-top: 45px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(75, 93, 104, 1);
    font-size: 29px;
    font-weight: 900;
    text-align: left;
}
