@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.header{
    margin-top: 22px;
}
  .navigationWrapper{
    width: 274px;
 
}

.navigationLi{
    list-style: none;
}
.navigationUl{
    display: flex;
    justify-content: space-between;
    
}
.NavLink {

    font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
color: #4B5D68;
text-decoration: none;
}
.NavLink:hover {

   color: #9C69E2 
    }
.NavLinkActive {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
text-decoration: none;
  }


  @media screen and (min-width: 750px) {
    .navigationWrapper{
        width: 286px;

    }
    .header{
        margin-top: 61px;
    }
}
  @media screen and (min-width: 1200px) {
    .navigationWrapper{
        width: 286px;
    }
    .header{
        margin-top: 73px;
    }
}