.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 20px 0;
  max-width: 1113px;
  min-height: 98px;
  margin: 0 auto;
  @media screen and (max-width: 1024px) {
    max-width: 800px;
  }
  @media screen and (max-width: 768px) {
    padding: 21px 20px 0;
  }
  @media screen and (max-width: 440px) {
    padding: 0 12px 0;
  }
}
.headerWrapper {
  position: absolute;
  width: 100%;
  max-width: 100vw;
  z-index: 2;
  top: 0;
  left: 0;
}
.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 455px;
  width: 100%;
  @media screen and (max-width: 768px) {
    max-width: calc(100% - 90px);
  }
  @media screen and (max-width: 390px) {
    max-width: calc(100% - 70px);
  }
}
.logo {
  margin-right: 15px;
}
.button {
  margin-right: 60px;
  @media screen and (max-width: 1024px) {
    display: none;
  }
}
.btnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.langImg {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.langWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.langText {
  cursor: pointer;
  font-size: 11px;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  transition: 200ms linear;
  color: #575859;
  border: 1px solid #575859;
  border-radius: 10px;
  width: 52px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  line-height: 16px;
  font-weight: 500;
  &:hover {
    transform: scale(1.1);
  }
  &Active {
    color: #5f00d8;
    border-color: #5f00d8;
  }
}
.controlsWrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-left: 8px;
}
