.testBlock1ButtonWrapper {
  display: flex;
  justify-content: space-around;
  width: 350px;
  margin: 0 auto;
  margin-top: 160px;
  margin-bottom: 209px;
}
.testBlock1Text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;
}