.sectionWhatFor {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // overflow: hidden;
    // overflow-x: hidden;
    
} 

.wrapperCards {
    margin: 0 auto;
    position: relative;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1117px;
    width: 100%;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    @media screen and (min-width: 1400px) {
        justify-content: space-between;
    }
}
