.sectionWhatFor {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // overflow: hidden;
    // overflow-x: hidden;
    @media screen and (min-width: 1024px) {
        border-bottom: 2px solid rgba(156, 105, 226, 0.1);
        margin-bottom: 100px;
    }
} 

.wrapperCards {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1125px;
    width: 100%;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    @media screen and (min-width: 1024px) {
        justify-content: space-between;
    }
}
